* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ================= HOME SECTION ================= */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E8B57;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 60px;
}

.logo h3 {
    color: aliceblue;
    letter-spacing: 5px;
    padding-left: 50px;
    text-transform: uppercase;
    font-size: 1.6rem;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: azure;
    padding: 8px 15px;
    text-transform: capitalize;
    font-size: 1.3rem;
}


nav ul li a:hover {
    color: #2E8B57;
    background-color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: .3s ease;
}


.container {
    display: flex;
     justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    
}

.container .pics img {
    width: 100%;
    padding-left: 16%;
}
.container .text-left{
    padding-left: 8%;
}

.container .text-left h2 {
    font-size: 3rem;
}

.container .text-left p {
    font-size: 16px;
    margin-bottom: 20px;
}


.text {
    text-align: center;
    font-size: 2.5rem;
    color: #2E8B57;
}

.one {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #2E8B57;
    color: #fff;
    border-radius: 5px;
}


.one:hover {
    background: #246b45;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: .7s ease;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card i {
    font-size: 3rem;
    color: #2E8B57;
    padding: 10px 0px;
}

.card p {
    font-size: 14px;
    color: #555;
    padding: 20px 0px;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #2E8B57;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* NAV RESPONSIVE */
.menu-toggle {
    display: none;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    padding-right: 30px;
}


@media(max-width: 768px) {

    nav ul {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background: #2E8B57;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    nav ul li {
        padding: 15px 0;
        font-size: 10px;
    }

    nav ul.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .logo h3{
        font-size: 1rem;
    }
}



/* ================= ABOUT SECTION ================= */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    margin-top: 10vh;
    gap: 30px;
    flex-wrap: wrap;
}

.text-left {
    flex: 1;
}

.text-left h2 {
    font-size: 3rem;
    color: #2E8B57;
    margin-bottom: 15px;
}

.text-left p {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

.pics {
    flex: 1;
    text-align: center;
}

.pics img {
    width: 80%;
    border-radius: 10px;
}


.text {
    text-align: center;
    font-size: 2.5rem;
    color: #2E8B57;
    margin-top: 40px;
}



/* ================= SERVICES SECTION ================= */
.featured-services {
    display: flex;
    gap: 40px;
    padding: 80px 60px;
    background: #fff;
}


.services-left {
    width: 30%;
}

.services-left h4 {
    color: #2E8B57;
    font-size: 2rem;
}

.services-left h2 {
    font-size: 2rem;
    margin: 10px 0 20px;
}

.service-menu li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 15px;
}

.service-menu li.active {
    background: #2E8B57;
    color: #fff;
}

.view-all {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #2E8B57;
    color: #fff;
}


.services-right {
    width: 70%;
}

.service-content {
    display: none;
}

.service-content.active {
    display: block;
}

.service-content img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

.service-content h3 {
    margin-bottom: 10px;
}

.service-content p {
    color: #555;
    line-height: 1.6;
}





/* ================= FOOTER ================= */
footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 60px;
    background: #2E8B57;
    flex-wrap: wrap;
}

.footer-title {
    color: #fff;
    margin-bottom: 15px;
}

.ending {
    max-width: 280px;
}

.ending p {
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
}


.links li {
    margin-bottom: 8px;
}

.links li a {
    color: #fff;
    font-size: 14px;
}

.ending:first-child .links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.ending:first-child .links li {
    margin: 0;
}

.ending:first-child .links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s ease;
}

.ending:first-child .links li a:hover {
    background: #fff;
    color: #2E8B57;
}


.footer-bottom {
    text-align: center;
    background: #333333;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}

@media(max-width: 768px) {
    .footer-bottom {
        font-size: 13px;
        padding: 12px 0;
    }
}

/* ================= CONTACT SECTION ================= */

.contact-section {
    padding: 80px 60px;
    background: #f9f9f9;
}

.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h4 {
    color: #2E8B57;
    font-size: 14px;
}

.contact-header h2 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.contact-header p {
    color: #555;
}


.contact-container {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
}


.contact-info {
    width: 50%;
}

.contact-info h3 {
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
    color: #444;
}


.contact-form {
    width: 60%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

.contact-form button {
    width: 150px;
    padding: 12px;
    background: #2E8B57;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.contact-form button:hover {
    opacity: 0.9;
}


.map-section {
    width: 100%;
    height: 400px;
    margin-top: 60px;
}

.map-section iframe {
    width: 100%;
    height: 100%;
    border: none;
}



/* ================= LOGIN SECTION ================= */
.login-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f8f4;
    padding-top: 10vh;
}


.login-box {
    width: 450px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.login-box h2 {
    color: #2E8B57;
    margin-bottom: 10px;
}

.login-box p {
    color: #555;
    margin-bottom: 25px;
}


.login-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    padding: 12px;
    background: #2E8B57;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-box button:hover {
    opacity: 0.9;
}


.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login-links a {
    font-size: 13px;
    color: #2E8B57;
}



/* ================= SIGNUP SECTION ================= */
.signup-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f8f4;
    padding-top: 10vh;
}


.signup-box {
    width: 480px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.signup-box h2 {
    color: #2E8B57;
    margin-bottom: 10px;
}

.signup-box p {
    color: #555;
    margin-bottom: 25px;
}


.signup-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-box input, select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-box button {
    padding: 12px;
    background: #2E8B57;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.signup-box button:hover {
    opacity: 0.9;
}

.signup-links {
    margin-top: 15px;
    font-size: 14px;
}

.signup-links a {
    color: #2E8B57;
    margin-left: 5px;
}





/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .pics img {
        width: 100%;
    }

    nav {
        padding: 0 20px;
    }

    nav ul {
        gap: 10px;
    }
}

/* services */
@media(max-width: 768px) {
    .featured-services {
        flex-direction: column;
    }

    .services-left,
    .services-right {
        width: 100%;
    }
}

/* contact */
@media(max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }
}

/* footer */
@media(max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ending:first-child .links {
        justify-content: center;
    }
}